{% extends 'homepage/base.html' %}
<!DOCTYPE html>

{% block title %}
                Profile
{% endblock title %}

{% block content %}

    <h1 class="profile-title">WELCOME TO YOUR PROFILE ANNA!</h1>
    <div class="profile-box-0">
        <a class="btn-profile btn-secondary" href="{% url 'account' %}" role="button">Account details</a>
    </div>
    <div class="profile-box-1">
        <a class="btn-profile btn-secondary" href="#" role="button">Register for business account</a>
    </div>
    <div class="profile-box-2">
        <a class="btn-profile btn-secondary" href="{% url 'logout' %}" role="button">Log out</a>
    </div>
    <div class="profile-box-3">
        <a class="btn-profile btn-secondary" href="#" role="button">Orders</a>
    </div>
    <div class="profile-box-4">
        <a class="btn-profile btn-secondary" href="{% url 'returns' %}" role="button">Returns</a>
    </div>

{% endblock content %}

