{% extends 'homepage/base.html' %}

{% block content %}

    <div class="h1-in-form">RETURNS</div>
    <hr>
    <div class="nav-scroller py-1 mb-2">
        <div class="nav d-flex">
            <h5 class="title-text">Current returns</h5>

        </div>
    </div>

    <div class="row-content-category">
        <div class="col-md-4">

            <div class="card-1 mb-4 box-shadow">

                <img class="card-img-top" style="height: 400px; width: 100%; display: block;" data-holder-rendered="true">

                <div class="card-body-1">
                    <span class="card-text-product mb-auto-2">Prada</span><br>
                    <span class="text-muted">about product</span><br><br>
                    <div class="card-money">
                        <span class="card-text-money">1256$</span>
                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card-1 mb-4 box-shadow">

                <img class="card-img-top" style="height: 400px; width: 100%; display: block;" data-holder-rendered="true">

                <div class="card-body-1">
                    <span class="card-text-product mb-auto-2">Prada</span><br>
                    <span class="text-muted">about product</span><br><br>
                    <div class="card-money">
                        <span class="card-text-money">1256$</span>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <hr>
    <div class="nav-scroller py-1 mb-2">
        <div class="nav d-flex">
            <h5 class="title-text">Previous returns</h5>

        </div>
    </div>

    <div class="row-content-category">
        <div class="col-md-4">

            <div class="card-1 mb-4 box-shadow">

                <img class="card-img-top" style="height: 400px; width: 100%; display: block;" data-holder-rendered="true">

                <div class="card-body-1">
                    <span class="card-text-product mb-auto-2">Prada</span><br>
                    <span class="text-muted">about product</span><br><br>
                    <div class="card-money">
                        <span class="card-text-money">1256$</span>
                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card-1 mb-4 box-shadow">

                <img class="card-img-top" style="height: 400px; width: 100%; display: block;" data-holder-rendered="true">

                <div class="card-body-1">
                    <span class="card-text-product mb-auto-2">Prada</span><br>
                    <span class="text-muted">about product</span><br><br>
                    <div class="card-money">
                        <span class="card-text-money">1256$</span>
                    </div>

                </div>

            </div>

        </div>

    </div>
{% endblock content %}