.bs-form {
    display: flex;
    position: relative;
    text-align: center;
    font-size: 24px;
    background-color: #E3E0D9;
    justify-content: center;
    width: 50%

}

.bs-form label{
    text-align: left;
    width: 300px;
    margin-top: 10px;

}

.bs-form-item {
    display: flex;
    flex-wrap:wrap ;
    position: relative;
    text-align: center;
    font-size: 24px;
    background-color: #E3E0D9;
    width: 100%

}
.bs-form-item label{
    margin-inline-start: 50px;
    text-align: center;
    position: relative;

}

.bs-form-item input{
    border-radius: 4px;
    background-color: #E3E0D9;
    border:1px solid rgba(75, 75, 75, 1);
    height: 50px;
    width: 350px;
    position: relative;
}

.bs-title {
    font-size: 32px;
    text-align: center;
    width: 500px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    margin-inline: 160px;
    padding-block-end: 60px;
}

.bs-card {
    position: relative;
    flex-direction: column;
    min-width: 250px;
    min-height: 250px;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(75, 75, 75, 1);
    border-radius: 0.25rem;
}