{% extends 'homepage/base.html' %}
{% block title %}
    <title>Homepage</title>
{% endblock title%}


{% block content %}
    <body>
        <div class="row1 mb-22">
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">

                    <img class="card-img-right flex-auto d-none d-md-block"  style="width: 1080px; height: 680px;"  data-holder-rendered="true">

                    <div class="card-body d-flex flex-column align-items-start">
                        <h3 class="mb-0">Spring collection 2023</h3>

                        <p class="card-text mb-auto">
                            Ditch the rules & start dressing authentically!
                        </p>

                        <h2 class="mb-0-1-2">GET INSPIRED</h2>

                        <button class="btn-shop" type="submit">
                            <a style="text-decoration: none; color: #E3E0D9;" class="btn-shop-text">Shop now</a>

                        </button>
                    </div>

                </div>

            </div>
        </div>
        <br>

        <hr>

        <div class="nav-scroller py-1 mb-2">
            <div class="nav d-flex">
                <h5 class="title-text">Prada</h5>

                <div class="position-go">
                    <button class="btn-go" type="submit">
                        <a style="text-decoration: none; color: #E3E0D9; " class="btn-go-text">Go</a>

                    </button>
                </div>
            </div>

        </div>

        <div class="row-content-category">
            <div class="col-md-4">

                <div class="card-1 mb-4 box-shadow">

                    <img class="card-img-top" style="height: 400px; width: 100%; display: block;" data-holder-rendered="true">

                    <div class="card-body-1">

                        <span class="card-text-product mb-auto-2">Prada</span><br>
                        <span class="text-muted">about product</span><br><br>
                        <div class="card-money">
                            <span class="card-text-money">1256$</span>

                            <div class="nav-item-product">
                                <a class="nav-item" href="#">
                                    <img style="width: 34px; height: 33px" src="images/Sample_User_Icon.png">
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-4">
                <div class="card-1 mb-4 box-shadow">
                    <img class="card-img-top" style="height: 400px; width: 100%; display: block;" data-holder-rendered="true">

                    <div class="card-body-1">

                        <span class="card-text-product mb-auto-2">Prada</span><br>
                        <span class="text-muted">about product</span><br><br>
                        <div class="card-money">
                            <span class="card-text-money">1256$</span>

                            <div class="nav-item-product">
                                <a class="nav-item" href="#">
                                    <img style="width: 34px; height: 33px" src="images/Sample_User_Icon.png">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-1 mb-4 box-shadow">
                    <img class="card-img-top" style="height: 400px; width: 100%; display: block;" data-holder-rendered="true">

                    <div class="card-body-1">
                        <span class="card-text-product mb-auto-2">Prada</span><br>
                        <span class="text-muted">about product</span><br><br>
                        <div class="card-money">
                            <span class="card-text-money">1256$</span>

                            <div class="nav-item-product">
                                <a class="nav-item" href="#">
                                    <img style="width: 34px; height: 33px" src="images/Sample_User_Icon.png">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-1 mb-4 box-shadow">
                    <img class="card-img-top" style="height: 400px; width: 100%; display: block;" data-holder-rendered="true">

                    <div class="card-body-1">

                        <span class="card-text-product mb-auto-2">Prada</span><br>
                        <span class="text-muted">about product</span><br><br>
                        <div class="card-money">
                            <span class="card-text-money">1256$</span>

                            <div class="nav-item-product">
                                <a class="nav-item" href="#">
                                    <img style="width: 34px; height: 33px" src="images/Sample_User_Icon.png">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <br>

        <hr>

        <div class="nav-scroller py-1 mb-2">
            <div class="nav d-flex">
                <h5 class="title-text">Channel</h5>

                <div class="position-go">
                    <button class="btn-go" type="submit">
                        <a style="text-decoration: none; color: #E3E0D9; " class="btn-go-text">Go</a>

                    </button>
                </div>
            </div>

        </div>

        <div class="row-content-category">
            <div class="col-md-4">

                <div class="card-1 mb-4 box-shadow">

                    <img class="card-img-top" style="height: 400px; width: 100%; display: block;" data-holder-rendered="true">

                    <div class="card-body-1">

                        <span class="card-text-product mb-auto-2">Prada</span><br>
                        <span class="text-muted">about product</span><br><br>
                        <div class="card-money">
                            <span class="card-text-money">1256$</span>

                            <div class="nav-item-product">
                                <a class="nav-item" href="#">
                                    <img style="width: 34px; height: 33px" src="images/Sample_User_Icon.png">
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-4">
                <div class="card-1 mb-4 box-shadow">
                    <img class="card-img-top" style="height: 400px; width: 100%; display: block;" data-holder-rendered="true">

                    <div class="card-body-1">

                        <span class="card-text-product mb-auto-2">Prada</span><br>
                        <span class="text-muted">about product</span><br><br>
                        <div class="card-money">
                            <span class="card-text-money">1256$</span>

                            <div class="nav-item-product">
                                <a class="nav-item" href="#">
                                    <img style="width: 34px; height: 33px" src="images/Sample_User_Icon.png">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-1 mb-4 box-shadow">
                    <img class="card-img-top" style="height: 400px; width: 100%; display: block;" data-holder-rendered="true">

                    <div class="card-body-1">
                        <span class="card-text-product mb-auto-2">Prada</span><br>
                        <span class="text-muted">about product</span><br><br>
                        <div class="card-money">
                            <span class="card-text-money">1256$</span>

                            <div class="nav-item-product">
                                <a class="nav-item" href="#">
                                    <img style="width: 34px; height: 33px" src="images/Sample_User_Icon.png">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-1 mb-4 box-shadow">
                    <img class="card-img-top" style="height: 400px; width: 100%; display: block;" data-holder-rendered="true">

                    <div class="card-body-1">

                        <span class="card-text-product mb-auto-2">Prada</span><br>
                        <span class="text-muted">about product</span><br><br>
                        <div class="card-money">
                            <span class="card-text-money">1256$</span>

                            <div class="nav-item-product">
                                <a class="nav-item" href="#">
                                    <img style="width: 34px; height: 33px" src="images/Sample_User_Icon.png">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <br>

        <hr>

        <div class="nav-scroller py-1 mb-2">
            <div class="nav d-flex">
                <h5 class="title-text">Balenciaga</h5>
                <div class="position-go">
                    <button class="btn-go" type="submit">
                        <a style="text-decoration: none; color: #E3E0D9; " class="btn-go-text">Go</a>

                    </button>
                </div>
            </div>

        </div>

        <div class="row-content-category">
            <div class="col-md-4">

                <div class="card-1 mb-4 box-shadow">

                    <img class="card-img-top" style="height: 400px; width: 100%; display: block;" data-holder-rendered="true">

                    <div class="card-body-1">

                        <span class="card-text-product mb-auto-2">Prada</span><br>
                        <span class="text-muted">about product</span><br><br>
                        <div class="card-money">
                            <span class="card-text-money">1256$</span>

                            <div class="nav-item-product">
                                <a class="nav-item" href="#">
                                    <img style="width: 34px; height: 33px" src="images/Sample_User_Icon.png">
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-4">
                <div class="card-1 mb-4 box-shadow">
                    <img class="card-img-top" style="height: 400px; width: 100%; display: block;" data-holder-rendered="true">

                    <div class="card-body-1">

                        <span class="card-text-product mb-auto-2">Prada</span><br>
                        <span class="text-muted">about product</span><br><br>
                        <div class="card-money">
                            <span class="card-text-money">1256$</span>

                            <div class="nav-item-product">
                                <a class="nav-item" href="#">
                                    <img style="width: 34px; height: 33px" src="images/Sample_User_Icon.png">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-1 mb-4 box-shadow">
                    <img class="card-img-top" style="height: 400px; width: 100%; display: block;" data-holder-rendered="true">

                    <div class="card-body-1">
                        <span class="card-text-product mb-auto-2">Prada</span><br>
                        <span class="text-muted">about product</span><br><br>
                        <div class="card-money">
                            <span class="card-text-money">1256$</span>

                            <div class="nav-item-product">
                                <a class="nav-item" href="#">
                                    <img style="width: 34px; height: 33px" src="images/Sample_User_Icon.png">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-1 mb-4 box-shadow">
                    <img class="card-img-top" style="height: 400px; width: 100%; display: block;" data-holder-rendered="true">

                    <div class="card-body-1">

                        <span class="card-text-product mb-auto-2">Prada</span><br>
                        <span class="text-muted">about product</span><br><br>
                        <div class="card-money">
                            <span class="card-text-money">1256$</span>

                            <div class="nav-item-product">
                                <a class="nav-item" href="#">
                                    <img style="width: 34px; height: 33px" src="images/Sample_User_Icon.png">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </body>
{% endblock content%}