{% extends 'homepage/base.html' %}
{% block title %}
    Homepage
{% endblock title%}

{% block content %}
    <body>
        <aside>
            <div class="v26_4"></div>
                <div class="v22_82">
                    <div class="v22_79"></div>
                </div>
                <span class="v22_88">Spring collection 2023</span>
                <span class="v26_2">Ditch the rules & start dressing authentically!</span>
                <span class="v26_3">GET INSPIRED</span>
                <div class="v22_102">
                    <span class="v22_101"><a href="" style="text-decoration: none; color: white">Shop now</a></span>
                </div>

            <div class="v26_16"></div>
                <div class="v22_87">
                    <div class="v22_80"></div>
                </div>
                <span class="v26_11">January bestsellers</span>
                <span class="v26_13">Always dressed to kill!</span>
                <span class="v26_12">GET INSPIRED</span>
                <div class="v26_14">
                    <span class="v26_15"><a href="" style="text-decoration: none; color: white">Shop now</a></span>
                </div>

        </aside>


            <span class="v26_293">Prada</span>

                <div class="v26_306">
                    <span class="v26_307"><a href="" style="text-decoration: none; color: white">Go</a></span>
                </div>

                    <div class="v26_332"></div>
                        <div class="v42_13">
                            <div class="v42_6"></div>
                        </div>
                            <span class="v26_294">Mohair Suit</span>
                            <span class="v26_303">Navy Wool</span>
                            <span class="v26_298">$4,000</span>
                            <div class="v26_308">
                                <div class="v26_309"></div>
                            </div>

                    <div class="v26_320"></div>
                        <div class="v42_50">
                            <div class="v42_9"></div>
                        </div>
                            <span class="v26_295">Re-Nylon Mini Bag</span>
                            <span class="v26_302">Black|Fabric</span>
                            <span class="v26_299">$1,350</span>
                            <div class="v26_310">
                                <div class="v26_311"></div>
                            </div>


                    <div class="v26_324"></div>
                        <div class="v42_52">
                            <div class="v42_10"></div>
                        </div>
                            <span class="v26_296">Re-Nylon Down Jacket</span>
                            <span class="v26_304">Blue Nylon</span>
                            <span class="v26_300">$3,950</span>
                            <div class="v26_312">
                                <div class="v26_313"></div>
                            </div>

                    <div class="v26_328"></div>
                        <div class="v51_26">
                            <div class="v42_11"></div>
                        </div>
                            <span class="v26_297">Lace-Up Shoes</span>
                            <span class="v26_305">Black Leather</span>
                            <span class="v26_301">$1,870</span>
                            <div class="v26_314">
                                <div class="v26_315"></div>
                            </div>


            <span class="v26_96">Chanel</span>

                <div class="v26_113">
                    <span class="v26_114"><a href="" style="text-decoration: none; color: white">Go</a></span>
                </div>

                    <div class="v26_108"></div>
                        <div class="v26_167">
                            <div class="v26_160"></div>
                        </div>
                            <span class="v26_112">Mini Flap Bag</span>
                            <span class="v26_168">Lambskin & Gold-Tone Metal Black</span>
                            <span class="v26_116">$4,200</span>
                            <div class="v26_118">
                                <div class="v26_119"></div>
                            </div>

                    <div class="v26_128"></div>
                        <div class="v43_66"></div>
                        <div class="v43_67"></div>
                            <span class="v26_123">Chance</span>
                            <span class="v26_125">Pink pepper, jasmine absolute, white musk, vanilla</span>
                            <span class="v26_124">$160</span>
                            <div class="v26_126">
                                <div class="v26_127"></div>
                            </div>


                    <div class="v26_153"></div>
                        <div class="v26_141">
                            <div class="v26_87"></div>
                        </div>
                            <span class="v26_148">Pumps</span>
                            <span class="v26_150">Satin, Metal & Strass Black</span>
                            <span class="v26_149">$1,450</span>
                            <div class="v26_151">
                                <div class="v26_152"></div>
                            </div>

                    <div class="v26_139"></div>
                        <div class="v26_133">
                            <div class="v26_86"></div>
                        </div>
                            <span class="v26_134">Pendant Necklace</span>
                            <span class="v26_136">Metal, Glass Pearls & Strass Gold, Pink & Pearly White</span>
                            <span class="v26_135">$1,000</span>
                            <div class="v26_137">
                                <div class="v26_138"></div>
                            </div>

            <span class="v42_14">Balenciaga</span>
                <div class="v42_27">
                    <span class="v42_28"><a href="" style="text-decoration: none; color: white">Go</a></span>
                </div>

                    <div class="v42_48"></div>
                        <div class="v43_58">
                            <div class="v43_56"></div>
                        </div>
                            <span class="v42_15">Mono Rectangle Glasses</span>
                            <span class="v42_24">Nylon Black</span>
                            <span class="v42_19">$765</span>
                            <div class="v42_29">
                                <div class="v42_30"></div>
                            </div>

                    <div class="v42_38"></div>
                        <div class="v43_60">
                            <div class="v42_42"></div>
                        </div>
                            <span class="v42_16">T-Shirt Oversized</span>
                            <span class="v42_23">Cotton Black</span>
                            <span class="v42_20">$925</span>
                            <div class="v42_31">
                                <div class="v42_32"></div>
                            </div>

                    <div class="v42_39"></div>
                        <div class="v43_62">
                            <div class="v42_43"></div>
                        </div>
                            <span class="v42_17">Men's Triple Sneaker</span>
                            <span class="v42_25">Polyurethane, polyester Black</span>
                            <span class="v42_21">$1,050</span>
                            <div class="v42_33">
                                <div class="v42_34"></div>
                            </div>
                    <div class="v42_40"></div>
                        <div class="v43_64">
                            <div class="v42_44"></div>
                        </div>
                            <span class="v42_18">Small Handbag</span>
                            <span class="v42_26">Calfskin Shiny Black</span>
                            <span class="v42_22">$2,850</span>
                            <div class="v42_35">
                                <div class="v42_36"></div>
                            </div>

    </body>
{% endblock content%}