

body {
    position: relative;
    font-size: 16px;
    line-height: 1.4;
    color: #000;
    min-width: 320px;
    overflow-x: hidden;
    height: 100vh;
}

p {
    color: red;
    top: 520px;
}

.v69_334 {
    width: 511px;
    height: 800px;
    background: #E3E0D9;
    opacity: 1;
    position: absolute;
    top: 101px;
    left: 704px;
    border-radius: 35px;
    overflow: hidden;
}
.v69_362 {
    width: 145px;
    color: rgba(75, 75, 75, 1);
    position: absolute;
    top: 30px;
    left: 190px;
    font-family: Montserrat arm, serif;
    font-weight: 300;
    font-size: 35px;
    opacity: 1;
    text-align: center;
}

.v69_335 {
    width: 255px;
    height: 80px;
    color: rgba(75, 75, 75, 1);
    position: absolute;
    top: 105px;
    left: 1px;
    font-family: Montserrat arm, serif;
    font-size: 30px;
    opacity: 1;
    text-align: center;
    background-color: #E3E0D9;
    border-radius: 15px;
    border: 1px solid whitesmoke;

}

.v69_336 {
    width: 255px;
    height: 80px;
    color: rgba(75, 75, 75, 1);
    position: absolute;
    top: 105px;
    left: 255px;
    font-family: Montserrat arm, serif;
    font-size: 30px;
    opacity: 1;
    text-align: center;
    background-color: #E3E0D9;
    border-radius: 15px ;
    border: 1px solid whitesmoke;

}



.v69_340 {
    width: auto;
    color: rgba(75, 75, 75, 1);
    position: absolute;
    top: 210px;
    left: 40px;
    font-family: Montserrat arm, serif;
    font-weight: 300;
    font-size: 22px;
    opacity: 1;
    text-align: left;
}

.v69_341 {
    width: auto;
    color: rgba(75, 75, 75, 1);
    position: absolute;
    top: 330px;
    left: 40px;
    font-family: Montserrat arm, serif;
    font-weight: 300;
    font-size: 22px;
    opacity: 1;
    text-align: left;
}

.v69_342 {
    width: auto;
    color: rgba(75, 75, 75, 1);
    position: absolute;
    top: 540px;
    left: 240px;
    font-family: Montserrat arm, serif;
    font-weight: 300;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}



button:hover{
    opacity: .80;
    transform: scale(0.9);
}




.v69_345 {
    width: 380px;
    height: 40px;
    background:  no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 590px;
    left: 60px;
    border: 0.5px solid rgba(75, 75, 75, 1);
    border-radius: 15px;
    overflow: hidden;
}

.v69_346 {
    width: 30px;
    height: 31px;
    background: #E3E0D9;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 55px;
    overflow: hidden;

}


a {
    width: 215px;
    color: rgba(75, 75, 75, 1);
    position: absolute;
    font-family: Montserrat arm, serif;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    text-decoration: none;
}

.v69_352 {
    width: 380px;
    height: 40px;
    background: no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 650px;
    left: 60px;
    border: 1px solid rgba(75, 75, 75, 1);
    border-radius: 15px;
    overflow: hidden;
}

.v69_353 {
    width: 30px;
    height: 31px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 55px;
}


.v69_355 {
    width: 380px;
    height: 40px;
    background:  no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 710px;
    left: 60px;
    border: 1px solid rgba(75, 75, 75, 1);
    border-radius: 15px;
    overflow: hidden;
}

.v69_356 {
    width: 30px;
    height: 31px;
    background: #E3E0D9;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 55px;
    overflow: hidden;
}

.v69_357 {
    width: 30px;
    height: 29px;
    background: rgba(24, 119, 242, 1);
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
}



.v69_359 {
    width: 456px;
    height: 62px;
    background:  no-repeat center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 250px;
    left: 25px;
    border: 1px solid rgba(75, 75, 75, 1);
    border-radius: 15px;
    overflow: hidden;
}
.enter_name{
    display: block;
    width: 430px;
    padding: 20px;
    font-size: 28px;
    font-family: Montserrat arm, serif;
    text-align: left;
    border-top: none;
    border-left: none;
    background-color: #E3E0D9;
}




.v69_361 {
    width: 456px;
    height: 62px;
    background:  no-repeat center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 370px;
    left: 25px;
    border: 1px solid rgba(75, 75, 75, 1);
    border-radius: 15px;
    overflow: hidden;
}

.v69_343 {
    width: 456px;
    height: 60px;
    background: rgba(75, 75, 75, 1);
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 450px;
    left: 17px;
    font-family: Montserrat arm, serif;
    font-weight: 300;
    font-size: 20px;
    color: #E3E0D9;
    border-radius: 15px;
    overflow: hidden;
}

.v69_363 {
    width: 36px;
    height: 36px;
    background: rgba(75, 75, 75, 1);
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 440px;
}